:root {
    --square-size: 10vw;
    --color-pavis: #d81c3f;
    --color-hudlino: #b266ab;
}

@font-face {
    font-family: "South Park";
    src: url(/assets/southpark.ttf) format("ttf");
}

body{
    font-family: "South Park";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/southpark_background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#tabuleiro {
    font-family: "South Park";
    display: flex;
    width: 90vw;
    height: 78vh;
    margin: 5em auto;
    margin-bottom: 2em;
    justify-content: center;
    align-items:center;
    max-width: 1000px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.6);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 14%;
    height: 100%;
    outline: 1px solid;
    padding:0 5px;
}

.column:nth-child(odd) {
    background-color: var(--color-hudlino);
}

.column:nth-child(even) {
    background-color: var(--color-pavis);
}

.cell {
    margin: 5px;
    height: var(--square-size);
    width: var(--square-size);
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.6) inset;
}

.player1 {
    background-color: blue;
    background-image: url(../img/pavis.jpg);
    background-size: cover;
}

.player2 {
    background-color: yellow;
    background-image: url(../img/hudlino.jpg);
    background-size: cover;
}
@keyframes rotationInv {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg)
    }

}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.reset {
    font-family: "South Park";
    width: 80px;
    height: 30px;
    background: linear-gradient(135deg, var(--color-pavis) 20%, var(--color-hudlino) 80%);
    border-radius: 5px;
    border: 1px dotted black;
    margin-bottom: 3em;
}

.victory_menssage {
    font-size: 150px;
    text-shadow: 2px 2px white;
    color: var(--color-pavis);
    font-weight: bold;
    text-align: center;
}
.img1_victory {
    width: 440px;
}
.img2_victory {
    width: 300px;
} 
.draw_manssage {
    font-size: 150px;
    text-shadow: 2px 2px white;
    color: var(--color-pavis);
    font-weight: bold;
    text-align: center;
}
.img1_draw {
    width: 430px;

}
.img2_draw {
    width: 282px;
}
.regras {
    position: absolute;
    left: 50%;
    margin-left: -180px;
    width: 360px;
    height: 300px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 25px 15px white;
    display: none;
}
ul {
    list-style: disc;
    list-style-position: inside;
    font-size: 26px;
}
.button_regras {
    font-family: "South Park";
    width: 80px;
    height: 30px;
    background: linear-gradient(135deg, var(--color-pavis) 20%, var(--color-hudlino) 80%);
    border-radius: 5px;
    border: 1px dotted black;
    margin-bottom: 3em;
}
.buttons {
    width: 25%;
    display: flex;
    justify-content: space-between;
}
.fechar {
    font-family: "South Park";
    width: 30px;
    height: 30px;
    background: linear-gradient(135deg, var(--color-pavis) 20%, var(--color-hudlino) 80%);
    border-radius: 100%;
    border: 1px dotted black;
}

.trilha {
    display: none;
}
